#map {
    height: 80vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
}

.region-label:before {
    border: none
}

.region-label {
    color: white;
    font-size: medium;
    background: none;
    border: none;
    box-shadow: none;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

#iconList {
    list-style: none;
}

#iconList > li {
    display: inline;
    padding-right: 5px;
}

footer {
    margin: auto 0rem 0rem 0rem;
}

.selected {
    text-decoration: underline;
}

#sectorIcon {
    width: 16px;
    height: 16px;
    border: 2px solid #3388ff;
    display: inline-block;
    margin-right: 2px;
}

#customDialogTitle {
    font-weight: bold;
    display: block;
}
#createCustomMarker {
    padding: 5px 3px 3px;

}
.customPopup {
    width: auto;
}
#customNameLabel {
    display: block;
}
#customNameLabel > input{
    margin-left: 5px;
}