#map {
    height: 80vh;
    width: 80vw;
}

.region-label:before {
    border: none
}

.region-label {
    color: white;
    font-size: medium;
    background: none;
    border: none;
    box-shadow: none;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

#iconList {
    list-style: none;
}