#map {
    height: 80vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 0;
    margin-top: 0;
    margin-left: 10px;
}

.region-label:before {
    border: none
}

.region-label {
    color: white;
    font-size: medium;
    background: none;
    border: none;
    box-shadow: none;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

#iconList {
    list-style: none;
}

#iconList > li {
    display: inline;
    padding-right: 5px;
}

footer {
    margin: auto 0rem 0rem 0rem;
}